@import '../../index';

.header {
  background: #1d212469;
}
.header__navbar {
  @include flex-box;

  &__logo {
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lobster';
    color: $color-yellow;
    span {
      color: #424d58;
    }
  }

  &__toggler {
    width: 30px;
    cursor: pointer;
    display: none;
    z-index: 999;
  }

  .active {
    display: block;
  }
  &__list {
    text-transform: uppercase;
    margin: auto 0;

    &__items {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-bottom: 0px;

      .header__navbar__list__items--item {
        &:hover {
          .dropdown-menux {
            display: block;
          }
        }
      }

      &--sl {
        margin: auto 2em;
        color: $color-yellow;
      }
    }
  }

  .nav-link {
    color: rgb(255, 255, 255);
    padding: unset;
    padding-bottom: 26px;
    font-size: 13px;
    display: unset;
    &:hover {
      border-bottom: 2px solid $color-yellow;
      color: $color-text;
    }
  }

  .nav-link-dropdown {
    color: #ecececda;
    font-size: 12px;
    &:hover {
      color: $color-yellow;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__navbar {
      .sticky {
        position: fixed;
      }

      &__toggler {
        display: block;
        right: 20px;
        top: 20px;
      }
      &__list {
        overflow: hidden;
        display: none;
        width: 100%;
        position: absolute;
        padding: 0 0 7em 0;
        left: 0;
        background: rgb(0, 0, 0);
        z-index: 22;
        &__items {
          display: block;
          text-align: left;
          margin-top: 100px;
          .header__navbar__list__items--item {
            &:hover {
              .dropdown-menux {
                display: none;
              }
            }
          }

          &--item {
            width: 50%;
            margin-bottom: 50px;

            .dropdown-pagesx {
              left: 0;
            }
            .boost {
              display: block !important;
            }

            .dropdown-menux {
              display: none;
              position: relative;
              .dropdown-pages {
                display: block;
              }
            }
          }
          &--sl {
            display: none;
          }
        }
      }
    }
  }
}
