@import '../../../index';
.testimonials {
  padding: 7em 0;
  background: #94a0ab;

  &__container {
    &__card {
      max-width: 100%;
      width: 370px;
      height: 622px;
      &:hover {
        .card__img {
          height: 200px;
        }
      }
      .card__img {
        @include img-default;
        width: 100%;
        height: 100px;
        transition: height 0.2s ease;
        position: absolute;

        &--avatar {
          @include img-default;
          width: 100px;
          height: 100px;
          margin: 50px auto;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
      .card--content {
        text-align: center;
        margin: 215px auto;

        .card_text {
          color: #424d58;
          font-size: 20px;
          font-weight: 400;
          line-height: 0;
          &__pan {
            font-weight: 600;
          }
        }
        .card-parag {
          margin: 0 50px 40px 50px;
          font-size: 15px;
          color: #939ea9;
        }
        .line {
          text-align: center;
          width: 30px;
          background: #ffc107;
          height: 2px;
          margin: 20px auto;
        }

        .card-content-footer {
          display: flex;
          justify-content: space-between;
          margin: 0 40px;
          .footer-img {
            width: 90px;
            height: 90px;
            @include img-default;
          }
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .testimonials {
    &__container {
      flex-direction: column;
      align-items: center;
      &__card {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonials {
    &__container {
      &__card {
        height: 550px;
        .card__img {
          height: 200px;
        }
        .card-content-footer {
          display: none !important;
        }
      }
    }
  }
}
