$color-yellow: #ffc107;
$color-gray: #45505c;
$color-light-gray: #939ea9;
$white: #fff;
$link-color: #a9b5c1;
$nav-link-color: #a9b5c1;
$font-parisienne: 'Parisienne', sans-serif;
$color-text: #424d58;
$lobster-font: 'Lobster', sans-serif;
